

<div class="container main" style="margin-top:50px;">

<h1  style="margin-left:1.5cm;"><p style="color:#080808 !important;">welcome to tommy's official website</p>
<small>getting to know more about tommy</small>
</h1>
<div class="row">
<div class="col-xs-6 ">
	<p  style="margin-left:1.5cm;">
<img src="tommy/acimg/aclogoblack3.png" class="img-responsive rotateimg " style="height:25%" >
	</p>


</div>
<div class="col-xs-6 ">
	
</div>
</div>


<div class="row">
<div class="col-xs-6 whitefont">
<p  style="margin-left:1.5cm;font-size:12">
<br>
Hi I'm Anthony. <br>
My friends call me Tommy. <br>
I am an artist, a musician and most of all<br>
 a Programmer.<br>
<br>
Art and music are just my hobbies <br>
but programming is my expertise.<br>
<br>
If you want to find out more about me <br>
 just check out all about me.<br>
thanks kudo's...

<BR><BR>
<i style="color:yellow !important;margin-top:150px;margin-right:1.5cm; font-size:12">
	
"To become Web Developer in a company that offers a consistently positive<br>
 atmosphere in which I can apply my ability and skills, and to learn new <br>
technologies and implement them for the betterment of the business."<br>
<P class="pull-right" style="margin-right:1.5cm;color:#999999;">- Anthony Cacatian
	</p>
</i>



</p>






</div>
<div class="col-xs-6">
<div class="pull-right ">
	

<br><br>
<!--img src="acimg/homeimg.png" class="img-responsive"
--> 
	</div>


</div>


</div>