.main{
   background: url('../acimg/achome2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   width:auto;
  min-height: 85%;
 
  }
  